<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>Özel üst</div>
    <section>
        @RenderBody()
    </section>
    <div>Özel alt</div>
</body>
</html>
