@model Product
<h1>@Model.Name</h1>
<img src="@Model.Picture" alt="@Model.Name" style="max-width:500px;float:left;margin-right:10px;border:solid 1px #cecece;padding:10px" />
<p>@Model.Description</p>
<hr style="clear:both"/>
